.productside {
  margin: 2rem auto 15rem;
  .productCard {
    @include flex(column, center, center);
    margin: 2%;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(103%);
    }
  }
  .productheading {
    align-self: flex-start;
  }
  .productImg {
    @include flex(row, center, center);
    width: 16rem;
    height: 16rem;
    margin: 3rem;
    img {
      width: 100%;
    }
  }
  .producttext {
    margin: 0.313rem;
    width: 18rem;
    height: 10rem;
  }
  .productinfo {
    @include flex(row, space-around, flex-start);
    width: 16rem;
    margin-top: 1.25rem;
  }
  .price {
    font-weight: bold;
  }
}
@media only screen and (min-width: 600px) {
  .header {
    .hamburger-container {
      display: none;
    }
    .nav {
      transform: translateX(0);
      inset: 0 0 0 0;
      height: 10%;
      background: none;

      ul {
        @include flex(row, space-around, center);
        li {
          @include flex(row, space-around, center);
          a {
            font-size: 1.25rem;
            color: black;
          }
        }
      }
    }
  }
  .productside {
    .productImg {
      @include flex(row, center, center);
      width: 20rem;
      height: 20rem;
      margin: 5rem;
      img {
        width: 100%;
      }
    }
  }
}